@import "./reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700");

body.white-content {
  background-color: #eee;
}

body {
  background-color: #0a192f;
  transition: all 0.3s ease 0s;
  font-family: "Roboto Mono";
}
.btn {
  border: 1px solid #64ffda;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
  color: #64ffda;
  display: inline-block;
  &:hover {
    background-color: rgba(100, 255, 218, 0.1);
  }
}

@import "./parts/loader.scss";
@import "./parts/header.scss";
@import "./parts/hero.scss";

@import "./components/modeButton.scss";
@import "./components/settingsBlock.scss";
@import "./components/language.scss";
@import "./components/side.scss";
